<div class="d-flex justify-content-center">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Just a minute of your attention</h5>
      <h6 class="card-subtitle mb-2 text-muted">A little bit about the site</h6>
      <p class="card-text text-left">The project was created with the support of the worldwide
         organization of anonymous programmers.
          This was my first project, so I hope for 
          understanding and sympathy with your son while
          checking this site.</p>
      <a href="https://www.linkedin.com/in/alex-voronin-16358b56/" class="card-link" target="_blank">Linkedin</a>
      <a href="https://www.facebook.com/alex.voronin.184" class="card-link" target="_blank">Facebook</a>
    </div>
  </div>
</div>